
body {
    font-family: 'Belanosima', sans-serif;
    background-color: #eceff1;
    margin: 0;
    line-height: 1.6;
    }

.a :hover   {
    text-decoration: none;
    color: #FC7300;
}

/*  navegación */
.navbar {
    background-color: #4b6873;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    font-size: 1,9rem;
    margin-bottom: 20px ;
    font-family: 'Belanosima', sans-serif;  
}

.nav-link {
    color: #EFF5F5;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;  
}
.nav-link:hover {
    background-color: #1F8A70;          
    color: #EFF5F5; 
    font-weight: 600;
    font-family: 'Belanosima', sans-serif;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
/*  Estilos para las secciones  */

.section {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    background-color: #EFF5F5;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(24, 24, 35, 0.15); 
}
.section h1 {
    font-family: 'Belanosima', sans-serif;
    color: #FC7300;
    font-size: 2.5rem;
    margin-bottom: 10px;                
}
.section h2 {
    color: #1F8A70;
    font-family: 'Belanosima', sans-serif;
    font-size: 2rem;
    margin-bottom: 10px;    
}
.section h3 {
    color: #00425A;
    font-family: 'Belanosima', sans-serif;
    font-size: 1.4rem;      
    margin-bottom: 10px;
}
.section p {
    font-family: 'Belanosima', sans-serif;
    font-size: 1.2rem;
    color: #181823;
    margin-bottom: 15px;    
}
ul {
    list-style: inside disc;
    padding-left: 0;
}
li {
    margin-bottom: 8px;
    font-family: 'Belanosima', sans-serif;
    font-size: 1.2rem;
    color: #181823;
}
/* Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #4b6873;
    color: #EFF5F5;
    padding: 20px 20px;
    font-size: 1rem;
    font-family: 'Belanosima', sans-serif;
}
/* Footer estilos */

.footer-left {
    background-color: #4b6873;
    padding: 20px;
    font-family: 'Belanosima', sans-serif;
    font-size: 1rem;
    margin-top: 20px;
       
}       

.footer-center {
    background-color: #4b6873;    
    text-align: center;
    padding: 20px;
    font-family: 'Belanosima', sans-serif;
    font-size: 1rem;
    margin-top: 20px;
}   
.footer-right { 
    background-color: #4b6873;
    text-align: center;
    padding: 20px;
    font-family: 'Belanosima', sans-serif;
    font-size: 1rem;
    margin-top: 20px;
    
}      
.social-link {
  display: inline-flex ;
  align-items: center;
  color: white; 
  text-decoration: none;
  margin: 15px;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #FC7300; /* cambia a un color al pasar el mouse */
}

.social-link i {
  vertical-align: middle;  /* Alinea el ícono con el texto */
  font-size: 1.5rem;
  margin-right: 8px;
}

.mail {
  color: white; 
  text-decoration: none;
  margin: 0 5px;
  font-weight: 500;
  transition: color 0.3s ease;
  }
.mail:hover {
  color: #FC7300; /* cambia a un color al pasar el mouse */
}

/* Estilos para las imágenes */

.imagen1 {
    width: 50%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(24, 24, 35, 0.15);
}

.imagen2 {
    width: 50%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(24, 24, 35, 0.15);
}

.contacto-container {   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #EFF5F5;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(24, 24, 35, 0.15);
}   
.contacto-container h2 {
    color: #1F8A70;
    font-family: 'Belanosima', sans-serif;
    font-size: 2rem;
    margin-bottom: 10px;    
}   
.contacto-container p {
    font-family: 'Belanosima', sans-serif;
    font-size: 1.2rem;
    color: #181823;
    margin-bottom: 15px;    
}   
.contacto-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
}   


